{% extends "base.html" %}
{% load finances %}

{% block content %}
<h1 class="mt-4 mb-4">Гаманці</h1>

<div id="accordion" role="tablist">
    {% for wallet in wallets %}
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
          {{ wallet }} : {{ wallet.get_fmt_amount }}
        </a>
      </h5>
    </div>

    <div id="collapse{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Сума</th>
                <th>Коментар</th>
                <th>Дата</th>
            </tr>
            {% for transaction in wallet.get_last_transactions %}
            <tr>
                <td>{% transaction_amount transaction %}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.added }}</td>
            </tr>
            {% endfor %}
        </table>
        
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}